Adafruit-Blinka
adafruit-circuitpython-bitmap-font
adafruit-circuitpython-busdevice
adafruit-circuitpython-connectionmanager
adafruit-circuitpython-requests
adafruit-circuitpython-rgb-display
adafruit-circuitpython-st7735r
adafruit-circuitpython-typing
Adafruit-PlatformDetect
Adafruit-PureIO
annotated-types
anyio
asttokens
attrs
av
backcall
beautifulsoup4
bleach
bleak
blinker
certifi
chardet
charset-normalizer
click
colorzero
dbus-fast
decorator
defusedxml
distro
docopt
dotenv
executing
fastjsonschema
Flask
gpiozero
gunicorn
h11
httpcore
httpx
idna
ipython
itsdangerous
jedi
Jinja2
jsonschema
jsonschema-specifications
jupyter_client
jupyter_core
jupyterlab_pygments
lgpio
libevdev
MarkupSafe
matplotlib-inline
meson
mistune
nbclient
nbconvert
nbformat
numpy
olefile
openai
opencv-python-headless
packaging
pandocfilters
parso
pexpect
picamera
picamera2
pickleshare
pidng
piexif
pigpio
pillow
pipreqs
platformdirs
prompt_toolkit
ptyprocess
pure-eval
pycairo
pycups
pydantic
pydantic_core
pyftdi
pygame
Pygments
PyGObject
PyOpenGL
pyserial
python-dateutil
python-dotenv
pyudev
pyusb
pyzmq
referencing
requests
rpds-py
rpi-ws281x
RPi.GPIO
simplejpeg
six
smbus2
sniffio
soupsieve
ssh-import-id
stack-data
sysv-ipc
tinycss2
toml
tornado
tqdm
traitlets
typing_extensions
urllib3
v4l2-python3
wcwidth
webencodings
Werkzeug
yarg
